<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Acedamic percentage in Operating Systems : <input type = "text" name = "Acedamic percentage in Operating Systems" /></p>
         <p>percentage in Algorithms :<input type = "text" name = "percentage in Algorithms" /></p>
         <p>Percentage in Programming Concepts :<input type ="text" name = "Percentage in Programming Concepts" /></p>
         <p>Percentage in Computer Architecture :<input type ="text" name = "Percentage in Computer Architecture" /></p>
         <p>Percentage in Electronics Subjects :<input type ="text" name = "Percentage in Electronics Subjects" /></p>
         <p>Percentage in Software Engineering :<input type ="text" name = "Percentage in Software Engineering" /></p>
         <p>Percentage in Computer Networks :<input type ="text" name = "Percentage in Computer Networks" /></p>
         <p>Percentage in Mathematics :<input type ="text" name = "Percentage in Mathematics" /></p>
         <p>Interested career area :</p>
  <input type="radio" id="system developer" name="career" value="1">
  <label for="system developer">system developer</label><br>
  <input type="radio" id="Business process analyst" name="career" value="2">
  <label for="Business process analyst">Business process analyst</label><br>
  <input type="radio" id="developer" name="career" value="3">
  <label for="developer">developer</label><br>
         <input type="radio" id="testing" name="career" value="4">
  <label for="testing">testing</label><br>
         <input type="radio" id="security" name="career" value="5">
  <label for="security">security</label><br>
         <input type="radio" id="cloud computing" name="career" value="6">
  <label for="cloud computing">cloud computing</label><br>
         <p>Interested Subjects :</p>
  <input type="radio" id="cloud computing" name="subject" value="1">
  <label for="cloud computing">cloud computing</label><br>
  <input type="radio" id="networks" name="subject" value="2">
  <label for="networks">networks</label><br>
  <input type="radio" id="Computer Architecture" name="subject" value="3">
  <label for="Computer Architecture">Computer Architecture</label><br>
         <input type="radio" id="programming" name="subject" value="4">
  <label for="programming">programming</label><br>
         <input type="radio" id="parallel computing" name="subject" value="5">
  <label for="parallel computing">parallel computing</label><br>
         <input type="radio" id="hacking" name="subject" value="6">
  <label for="hacking">hacking</label><br>
          <input type="radio" id="IOT" name="subject" value="7">
  <label for="IOT">IOT</label><br>
          <input type="radio" id="data engineering" name="subject" value="8">
  <label for="data engineering">data engineering</label><br>
          <input type="radio" id="Software Engineering" name="subject" value="9">
  <label for="Software Engineering">Software Engineering</label><br>
          <input type="radio" id="Management" name="subject" value="10">
  <label for="Management">Management</label><br>
          <p>can work long time before system? :</p>
  <input type="radio" id="yes" name="long_time_system" value="1">
  <label for="yes">yes</label><br>
  <input type="radio" id="no" name="long_time_system" value="0">
  <label for="no">no</label><br>
         <p>Logical quotient rating(1-9) :<input type ="text" name = "Logical quotient rating" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>